body{
	background:#04819E;
	color:#FFB873;
}

footer{
	position: fixed;
	bottom: 0;
}

.forumbox{
	border-top:#FF7F00 solid 1px;
	border-bottom:#FF7F00 solid 1px;
}

a{
	color:#FF7F00;
}

a:hover

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
	background-color: #015367;
	color:#FF7F00;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #206676;
	color:#FF7F00;
 }

.comments{
	border-top:grey solid 1px;
	border-bottom:grey solid 1px;
	margin-top:1em;
}