<html>
<head>
	<title>Login</title>
</head>
<body>
	<a href="/">Home</a>
	<a href="login/new">Create user</a>
	<form action="/login" method="POST">
		<input type="text" name="name" placeholder="name">
		<input type="password" name="password" />
		<input type="submit" value="Login">
	</form>
</body>
</html>