<html>
<head>
	<title>Form</title>
</head>
<body>
	<a href="/">Home</a>
	<a href="/login">Back to Login</a>
	<form action="/login/new" method="POST">
		<input type="text" name="name" placeholder="name">
		<input type="password" name="password" />
		<input type="submit" value="Click Me!">
	</form>
</body>
</html>